label, input[type=submit], input[type=text], textarea{
	display: block;
}
textarea{
	width: 300px;
	height: 80px;
}
input[type=submit]{
	background: #333333;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
	border: 0;
}
input[type=submit]:hover{
	background: red;
}